.mdl-demo .mdl-layout__tab-panel.is-active:not(#overview) {
  display: flex;
  justify-content: center;
}

#checkout {
  color: #000;
  background: #f2f2f2 !important;
  padding: 50px;

  input,
  button,
  select {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  input,
  select {
    font-weight: 500;
  }

  select {
    margin-left: -5px;
  }

  button {
    background: #6bd400;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      background: url("https://www.clker.com/cliparts/U/D/n/G/6/h/white-shopping-cart-md.png");
      background-size: cover;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 290px;
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    position: relative;

    &:before {
      width: 25px;
      height: 25px;
      background: #000;
      color: #fff;
      border-radius: 100px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -40px;
      top: 2px;
    }

    &.title-information:before {
      content: "1";
    }

    &.title-payments:before {
      content: "2";
    }

    &.title-payments:after {
      content: "";
      background: url("https://image.flaticon.com/icons/png/512/61/61457.png");
      background-size: cover;
      width: 15px;
      height: 15px;
      position: absolute;
      display: inline-block;
      top: 7px;
      left: 170px;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

  label {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
  }

  #error {
    display: none;
  }

  #success {
    color: #6bd400;
    font-weight: 700;
    font-size: 18px;
  }

  .img-visa {
    width: 40px;
    padding: 2.5px 5px;
    border: 1px solid #999;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
    width: 1200px;
  }

  .input-field {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 20px;

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    &__security,
    &__credit {
      position: relative;
    }
  }

  .left {
    .payment-details {
      margin-top: 50px;
    }
    .tooltip {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
      border: 2px solid #999;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 700;
      position: absolute;
      right: 15px;
      bottom: 25px;
    }
  }

  .right {
    .card {
      background: #fff;
      padding: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-top: 72px;

      &__content {
        padding: 20px;
        border: 1px dashed rgba(0, 0, 0, 0.25);
      }

      h5:not(.order-total) {
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .order-item {
        display: flex;
        justify-content: space-between;

        &__products,
        &__price {
          display: grid;
          grid-gap: 15px;
        }

        &__price {
          padding: 20px 0;
          margin: 20px 0;
          border-top: 1px dashed rgba(0, 0, 0, 0.25);
          border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
        }
      }
    }

    .price {
      font-weight: 700;
      margin: 0;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 860px) {
  #checkout .input-field__grid,
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
